@{
    ViewBag.Title = "Clientes";
}

<table id="clientes" class="table table-striped table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Fecha de modificación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts{

    <script>
        const uri = 'https://localhost:44387/api/clientes';
        $(document).ready(function () {
            $.getJSON(uri)
                .done(function (data) {
                    $.each(data, function (key, item) {

                        $("#clientes tbody").append(
                            "<tr>"
                            + "<td>" + item.Id + "</td>"
                            + "<td>" + item.Nombre + "</td>"
                            + "<td>" + item.FechaModificacion + "</td>"
                            + "<td>" + <button>item.FechaModificacion</button> + "</td>"

                            + "</tr>");
                    });
                });
        });
    </script>
}